* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.btn_scroll_top {
	position: fixed;
	bottom: 30px;
	right: 20px;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #3a3a3a;
	color: #fff;
	font-size: 20px;
	border: none;
	transition: all .7s;
	z-index: 100;
}

.btn_scroll_top:hover {
	background-color: #00f;
}

.btn_scroll_top.btn_hidden {
	display: none;
}

@media screen and (min-width: 1024px) {
	.btn_scroll_top {
		right: 70px;
		bottom: 40px;
	}
}

#header_area {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: transparent;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
	display: inline-block;
	color: #8d8d8d;
	padding: 20px 10px;
	transition: all .5s;
}

.navbar .collapse .navbar-nav .nav-item .nav-link.active {
	color: #fff;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
	color: #fff;
}

#header_area form {
	position: relative;
	padding-left: 12px;
	margin: 25px 0 5px;
}

#header_area form div {
	position: absolute;
	color: #8d8d8d;
	cursor: pointer;
}

#header_area form input[type='text'] {
	color: #ffffff;
	background: none;
	border: 2px solid;
	border-color: #8d8d8d;
	outline: none;
	padding: 0 11px;
	border-radius: 1000px;
	width: 0;
	transition: all 0.3s 0.6s;
	font-size: 14px;
}

#header_area form input[type='text']:focus {
	padding: 7px 9px;
	width: 250px;
}

#header_area form div:nth-child(2) {
	left: 222px;
	top: 18px;
	font-size: 20px;
	transition: all 0.3s 0.6s;
	cursor: pointer;
}

#header_area form div:nth-child(2)::after,
#header_area form div:nth-child(2)::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: #8d8d8d;
	height: 0px;
	width: 0px;
	transition: all 0.3s 0.6s;
	cursor: pointer;
}

#header_area form div:nth-child(2)::after {
	transform: rotate(45deg);
}

#header_area form div:nth-child(2)::before {
	transform: rotate(-45deg);
}

#header_area form input[type='text']:focus+div:nth-child(2)::after,
#header_area form input[type='text']:focus+div:nth-child(2)::before {
	width: 20px;
	height: 2px;
}

#header_area form div:nth-child(3) {
	left: 30px;
	top: 57%;
	font-size: 18px;
	font-weight: bold;
	color: #8d8d8d;
	transform: rotate(50deg);
	transition: all 0.3s 0.6s;
}

#header_area form input[type='text']:focus~div:nth-child(3) {
	font-size: 0px;
}

#header_area .navbar {
	border-bottom: 2px solid #8d8d8d;
}

#header_area .navbar .collapse.navbar-collapse {
	background-color: #000;
}

@media screen and (min-width: 992px) {
	#header_area .navbar .collapse.navbar-collapse {
		background-color: transparent;
	}

	#header_area form div:nth-child(2) {
		left: 215px;
	}

	#header_area form div:nth-child(3) {
		left: 17px;
		top: 14px;
	}

	#header_area form {
		padding-left: 0;
		margin: 0;
	}
}

#header_area .navbar-toggler {
	background-color: #fff;
	padding: 0;
}

/* --------------------------------------    Section_Banner     ----------------------------------- */
#Banner_Sec {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../Images/New/Banner_bg_Images/bg1.jpg");

}

#Banner_Sec .container {
	height: 100vh;
}

#Banner_Sec .single-slide {
	display: flex;
	align-items: center;
	gap: 25px;
}

#Banner_Sec .single-slide .post-number {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 18px;
	border-radius: 50%;
	border-bottom: 7px solid blue;
	border-top: 7px solid blue;
	border-right: 7px solid blue;
	border-left: 7px solid #8d8d8d;
	cursor: pointer;
}

#Banner_Sec .single-slide .post-number p {
	color: #8d8d8d;
	font-size: 30px;
	font-weight: bold;
}

#Banner_Sec .single-slide .post-title a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

#Banner_Sec .write_text {
	width: 300px;
	overflow: hidden;
	text-align: center;
}

#Banner_Sec .write_text .text {
	position: relative;
	color: #4070F4;
	font-size: 30px;
	font-weight: 600;
}

#Banner_Sec .write_text .text.first-text {
	color: #FFF;
}

#Banner_Sec .write_text .text.sec-text:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #180c05;
	border-left: 2px solid #4070F4;
	animation: animate 4s steps(12) infinite;
}

@keyframes animate {

	40%,
	60% {
		left: calc(100% + 4px);
	}

	100% {
		left: 0%;
	}
}


/* ------------------------------  owl-carousel  ------------------------ */

.owl-carousel .owl-nav {
	margin-top: 20px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #d8d8d8;
	margin-right: 20px;
	transition: all .7s;
	font-size: 20px;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
	font-size: 25px;
	border-radius: 30%;
	color: #d8d8d8;
	line-height: 25px;
	transition: all .7s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover .fa-chevron-right,
.owl-carousel .owl-nav button.owl-next:hover .fa-chevron-left {
	background-color: blue;

}






/* --------------------------------------     Landig_Page     ----------------------------------- */
#landing_Page .row .col-12 .header .nav .title .nav-link {
	font-size: 20px;
	font-weight: bold;
}

#landing_Page .row .col-12 .header .nav .nav-item .nav-link,
#landing_Page .row .col-12 .header .nav .nav-item .nav-link_dropdown {
	color: #8d8d8d;
	position: relative;
}

#landing_Page .row .col-12 .header .nav .nav-item .nav-link::after {
	content: "";
	position: absolute;
	top: 102%;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #007bff;
	transition: all .5s;
}

#landing_Page .row .col-12 .header .nav .nav-item .nav-link.active_link::after {
	width: 50%;
	transform: translateX(-50%);
	left: 50%;
}

#landing_Page .row .col-12 .header .nav .nav-item .nav-link:hover,
#landing_Page .row .col-12 .header .nav .nav-item .nav-link_dropdown:hover,
#landing_Page .row .col-12 .header .nav .nav-item .nav-link.active_link {
	color: #007bff;
}

#landing_Page .row .col-12 .header .nav .nav-item .nav-link:hover::after {
	width: 100%;
}

#landing_Page .owl-carousel .card {
	cursor: pointer;
}

#landing_Page .owl-carousel .card-body p,
#landing_Page .owl-carousel .card-body p a {
	text-decoration: none;
	color: #000;
	transition-duration: 500ms;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	font-weight: 400;
}

#landing_Page .owl-carousel .card-body p:hover,
#landing_Page .owl-carousel .card-body p a:hover {
	color: blue;
}

#landing_Page .owl-carousel .card span {
	position: absolute;
	left: 40px;
	top: 20px;
	display: inline-block;
	padding: 0px 15px;
	color: blue;
	background-color: #fff;
	transition: all .5s;
}

#landing_Page .owl-carousel .card span:hover {
	color: #fff;
	background-color: blue;
}

#landing_Page img {
	width: 100%;
	height: 100%;
}

#landing_Page .card_aside .box_image {
	flex: 0 0 100px;
	min-width: 97px;
	margin-right: 20px;
}

#landing_Page .card_aside .card-body {
	padding: 0 25px 0 10px;
}

#landing_Page .card_aside .card-body h6 {
	font-size: 13px;
	font-weight: bold;
}

#landing_Page .card_aside .card-body p,
#landing_Page .card_aside .card-body p a {
	transition-duration: 500ms;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	color: #8d8d8d;
}

#landing_Page .card_aside .card-body p a:hover {
	color: blue;
}

#landing_Page .single-blog-post .box_image {
	flex: 0 0 80px;
	min-width: 70px;
	margin-right: 15px;
}

#landing_Page .col-12 aside a {
	text-decoration: none;
	color: #000;
}

#landing_Page aside .sidebar-widget-area h5.title {
	padding: 15px 0 15px 10px;
	border-bottom: 2px solid #ddd;
	font-size: 20px;
	font-weight: bold;
}

#landing_Page aside .sidebar-widget-area p {
	color: #8d8d8d;
	border-bottom: 2px solid #ddd;
	margin: 0;
	padding: 25px 0;
	text-align: justify;
}

#landing_Page aside .widget-content .social-area a {
	width: 36px;
	height: 36px;
	border: 1px solid;
	border-color: #ddd;
	display: block;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
}

#landing_Page aside .widget-content .social-area a i {
	color: #8d8d8d;

}

#landing_Page aside .widget-content .social-area a:hover {
	background-color: blue;
}

#landing_Page aside .widget-content .social-area a:hover i {
	color: #fff;
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post .post-content {
	padding: 20px 10px;
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post .post-content a.headline {
	text-decoration: none;
	color: #8d8d8d;
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post .post-content a.headline h5 {
	font-size: 19px;
	margin-bottom: 10px;
	color: #000;
	font-weight: 500;
	line-height: 1.3;
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post.two .post-content a.headline h5 {
	font-size: 13px;
	font-weight: bold;
	text-align: justify;
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post,
#landing_Page .card_aside {
	transition: all .5s;
	cursor: pointer;
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post:hover,
#landing_Page .card_aside:hover {
	transform: scale(1.06);
}

#landing_Page aside .sidebar-widget-area .widget-content .single-blog-post:hover .box_image img {
	transform: skew(-5deg, 5deg)
}

/* ----------------------  owl-carousel  ---------------- */

.owl-carousel .owl-nav {
	margin-top: 20px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #d8d8d8;
	margin-right: 20px;
	transition: all .7s;
	font-size: 20px;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
	font-size: 25px;
	border-radius: 30%;
	color: #d8d8d8;
	line-height: 25px;
	transition: all .7s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover .fa-chevron-right,
.owl-carousel .owl-nav button.owl-next:hover .fa-chevron-left {
	background-color: blue;

}

/* ----------------------------------   Section _ 3  ----------------------------------------- */
#sec_3 a {
	text-decoration: none;
	color: #fff;
}

#sec_3 .post-tag a {
	color: blue;
	padding: 0 10px;
	background-color: #fff;
}

#sec_3 .post-tag a:hover {
	color: #fff;
	background-color: blue;
}

#sec_3 .card .card-img-overlay {
	background-color: rgba(0, 0, 0, 0.6);
}

#sec_3 .row .col-12 .card_aside {
	flex-wrap: wrap;
}

#sec_3 .row .col-12 .card_aside .box_image {
	width: 100%;
}

#sec_3 .row .col-12 .card_aside .box_image img {
	width: 100%;
	height: 100%;
}

@media screen and (min-width : 574px) {

	#sec_3 .row .col-12 .card_aside .box_image {
		flex: 0 0 250px;
		min-width: 250px;
	}

	#sec_3 .row .col-12 .card_aside {
		flex-wrap: nowrap;
	}
}

@media screen and (min-width : 992px) {
	#sec_3 .row .col-12 .card_aside .box_image {
		flex: 0 0 222px;
		min-width: 222px;
		height: 100%;
	}
}

#sec_3 .col-12.col-lg-4 .card span {
	position: absolute;
	left: 40px;
	top: 20px;
	display: inline-block;
	padding: 0px 15px;
	cursor: pointer;
	color: blue;
	background-color: #fff;
	transition: all .5s;
}

#sec_3 .col-12.col-lg-4 .card span:hover {
	color: #fff;
	background-color: blue;
}

#sec_3 .d-flex .btn.btn-outline-secondary {
	transition: all .7s;
}

#sec_3 .d-flex .btn.btn-outline-secondary:hover {
	background-color: blue !important;
	color: #fff !important;
}